.button
{
    -fx-background-color: #dc143c;
    -fx-background-radius: 30 30 30 30;


}



.button:hover
{
    -fx-background-color: #cd5c5c;
    -fx-background-radius: 30 30 30 30;


}
.button:pressed
{
    -fx-background-color: #B22222;
    -fx-background-radius: 30 30 30 30;


}